@if (Request.IsAuthenticated)
{
    <text>
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">
            @ViewBag.Myself.Name
        </li>
      @if (User.Identity.IsAuthenticated)
      {
        <li><a href="/logout">Log out</a></li>
      }

    </ul>
    </text>
}
