@{
  ViewBag.Title = Strings.DashboardTitle;
}
<div ng-controller="IndexCtrl">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="form-inline panel-body">
          <button type="button" class="btn btn-sm btn-primary" ng-click="createEvent()" data-bind="click: createEvent">New Event</button>
          <div class="form-group pull-right">
            <label>Show:</label>
            <button type="button" class="btn btn-sm btn-primary" ng-click="showRoster = !showRoster" ng-class="{active: showRoster}" autocomplete="off">Roster</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="showCalls = !showCalls" ng-class="{active: showCalls}" autocomplete="off">Call Log</button>
          </div>
        </div>
      </div>
      <div ng-show="showRoster">
        <roster ng-show="unassignedEvent.roster.length" event="unassignedEvent" sort="rosterSort" sort-dir="rosterSortDesc"></roster>
        <div ng-repeat="event in events | orderBy:eventsSortPredicate" class="animate-card">
            <roster event="event" sort="rosterSort" sort-dir="rosterSortDesc"></roster>
        </div>
      </div>
      <div ng-if="showRoster && events.length == 0" ng-cloak class="panel panel-default">
        <div class="panel-body">{{events.loading ? "Loading ..." : "No recent events"}}</div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="showCalls" ng-cloak>
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">Call Log</div>
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th style="width:1em" ng-click="callsSort='time'; callsSortDesc=!callsSortDesc">Time</th>
              <th ng-click="callsSort='name'; callsSortDesc=!callsSortDesc">Name</th>
              <th class="hidden-xs" ng-click="callsSort='number'; callsSortDesc=!callsSortDesc">Number</th>
              <th class="hidden-xs">Message</th>
            </tr>
          </thead>
          <tbody ng-if="calls.length > 0" ng-repeat="call in calls | orderBy: callsSort : callsSortDesc">
            <tr>
              <td class="text-right" style="width:1em; white-space:nowrap">{{call.timeText}}</td>
              <td><strong>{{call.name}}</strong></td>
              <td class="hidden-xs"><a ng-href="{{'tel:' + call.number}}">{{call.number}}</a></td>
              <td class="hidden-xs">
                <audio ng-if="call.recording" ng-src="{{call.recording}}" controls="controls" />
              </td>
            </tr>
          </tbody>
          <tbody ng-if="calls.length == 0"><tr><td colspan="3">No calls</td></tr></tbody>
        </table>
      </div>
    </div>
  </div>
</div>


@*<script type="text/html" id="roster-table-template">*@

<script type="text/ng-template" id="roster.html">
  <div class="panel" ng-class="{'panel-warning': event.isUnassigned, 'panel-default': event.closed, 'panel-primary': !event.closed && !event.isUnassigned}">
    <div class="panel-heading">
      <span class="fa fa-ban" ng-if="event.isUnassigned"></span>
      <div class="btn-group" ng-if="!event.isUnassigned">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="fa fa-fw" ng-class="{'fa-ban': event.closed, 'fa-bullhorn': !event.closed }"></span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-click="rosterCtrl.startEdit()"><button type="button" class="btn-link"><span class="fa fa-fw fa-edit"></span> Edit ...</button></li>
          <li ng-click="rosterCtrl.startClose()" ng-if="!event.closed"><button type="button" class="btn-link"><span class="fa fa-fw fa-ban"></span> Close ...</button></li>
          <li ng-if="event.closed" ng-click="rosterCtrl.reopen()"><button type="button" class="btn-link"><span class="fa fa-fw fa-bullhorn"></span> Reopen</button></li>
          <li ng-click="rosterCtrl.startMerge()"><button type="button" class="btn-link"><span class="fa fa-fw fa-code-fork fa-rotate-180"></span> Merge into ...</button></li>
        </ul>
      </div>
      Roster :: {{event.name}}
    </div>
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th style="width:3%"></th>
          <th style="width:15%" ng-click="sort='timeIn'; sortDesc=!sortDesc">Time In</th>
          <th style="width:40%" ng-click="sort='name'; sortDesc=!sortDesc">Name</th>
          <th style="width:15%" ng-click="sort='timeOutSort'; sortDesc=!sortDesc">Time Out</th>
          <th style="width:12%" ng-click="sort='hours'; sortDesc=!sortDesc" class="text-right hidden-xs">Hours</th>
          <th style="width:11%" ng-click="sort='miles'; sortDesc=!sortDesc" class="text-right hidden-xs">Miles</th>
          <th style="width:4%"></th>
        </tr>
      </thead>
      <tbody ng-if="event.roster.length" ng-repeat="responder in event.roster | orderBy:sort:sortDesc">
        <tr>
          <td class="roster" ng-class="responder.state"></td>
          <td>{{responder.timeIn | eventTime : event.opened}}</td>
          <td><strong ng-if="!responder.isMember">{{responder.name}}</strong><strong ng-if="responder.isMember"><a ng-href="{{'@(ViewBag.LinkTemplate)'.replace('{0}', responder.memberId)}}">{{responder.name}}</a></strong></td>
          <td>{{responder.timeOut | eventTime : event.opened}}</td>
          <td class="text-right hidden-xs">{{responder.hours}}</td>
          <td class="text-right hidden-xs">{{responder.miles}}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="fa fa-fw fa-bars"></span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-if="!responder.timeOut" ng-click="rosterCtrl.signout(responder)"><button type="button" class="btn-link"><span class="fa fa-fw fa-ban"></span> Sign Out ...</button></li>
                <li ng-if="responder.timeOut" ng-click="rosterCtrl.undoSignout(responder)"><button type="button" class="btn-link"><span class="fa fa-fw fa-bullhorn"></span> Undo Sign Out</button></li>
                <li ng-repeat="other in rosterCtrl.events | exceptId:event" ng-click="rosterCtrl.moveToEvent(responder, other)"><button type="button" class="btn-link"><span class="fa fa-fw fa-share-square-o"></span> Move to {{other.name}}</button></li>
              </ul>
            </div>

          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr><th></th><th colspan="6">{{event.roster.length}} responders<span ng-if="!event.isUnassigned" style="float:right;font-weight:normal">Opened {{event.opened.fromNow()}}</span></th></tr>
      </tfoot>
    </table>
  </div>
</script>


<script type="text/ng-template" id="editDialogTemplate.html">
  <form name="eventForm">
    <div class="form-group" ng-class="{ 'has-error': isInvalid(eventForm, 'name')}">
      <label for="name" class="control-label">Title: </label>
      <input name="name" type="text" ng-model="model.name" class="form-control" required />
      <div class="help-block" ng-if="isInvalid(eventForm, 'name')">
        <div ng-if="eventForm.name.$error.required">Event title is required.</div>
      </div>
    </div>
    <div class="form-group inline-form-group" ng-class="{ 'has-error': isInvalid(eventForm, 'date')}">
      <label for="date" class="control-label">Opened Date:</label>
      <input name="date" type="{{Modernizr.touch?'date':'text'}}" ng-attr-pattern="{{Modernizr.touch?null:'^\\d{4}-\\d{2}-\\d{2}$'}}" ng-model="model.datePart" class="form-control"/></label>
      <div class="help-block" ng-if="isInvalid(eventForm, 'date')">
        <div ng-if="eventForm.date.$error.pattern">Must be in form YYYY-MM-DD.</div>
      </div>
      </div>
    <div class="form-group inline-form-group" ng-class="{ 'has-error': isInvalid(eventForm, 'time')}">
      <label for="time" class="control-label">Opened Time:</label>
      <input name="time" type="{{Modernizr.touch?'time':'text'}}" ng-model="model.timePart" ng-attr-pattern="{{Modernizr.touch?null:'^[012]?\\d:[0-5]\\d$'}}" class="form-control" />
      <div class="help-block" ng-if="isInvalid(eventForm, 'time')">
        <div ng-if="eventForm.time.$error.pattern">Must be in form HH:MM.</div>
      </div>
    </div>
  </form>
</script>


<script type="text/html" id="merge-dialog-template">
  <p>This form will allow you to merge event &quot;<strong data-bind="text: fromEvent.name()"></strong>&quot; into another existing event.</p>
  <div class="form-inline">
    <div class="form-group">
      <label>Merge Into: <select class="form-control" data-bind="options: availableEvents, optionsText: 'name', value: targetEvent"></select></label>
    </div>
  </div>
</script>
<script type="text/html" id="signout-template">
  <p>Sign out <span data-bind="text: rosterName"></span> from <span data-bind="text: eventName"></span></p>
  <div>
    <div class="form-group">
      <label>Date: <input type="text" data-bind="value: timeOut.date" class="form-control" /></label>
    </div>
    <div class="form-group">
      <label>Time: <input type="text" data-bind="value: timeOut.time" class="form-control" /></label>
    </div>
    <div class="form-group">
      <label>Miles: <input type="text" data-bind="value: miles" class="form-control" /></label>
    </div>
  </div>
</script>

<script type="text/ng-template" id="modal.html">
  @*<div class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">*@
          <p>
            Here's a more complex modal, it contains a form, data is passed to the controller
            and data is returned from the modal.
          </p>

          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Your Name" ng-model="model.name">
              </div>
            </div>
            <div class="form-group">
              <label for="age" class="col-sm-2 control-label">Age</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="inputPassword3" placeholder="Age" ng-model="model.age">
              </div>
            </div>
          </form>

        @*</div>
        <div class="modal-footer">
          <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">OK</button>
          <button type="button" ng-click="cancel()" class="btn">Cancel</button>
        </div>
      </div>
    </div>
  </div>*@
</script>

@section scripts {
@Scripts.Render("~/bundles/app")
<script type="text/javascript">
  angular.module('missionlineApp').controller('IndexCtrl', ['$scope', 'EditModalService', 'eventsService', function ($scope, EditModalService, eventsService) {
    $.extend($scope, {
      showRoster: true,
      showCalls: false,
      unassignedEvent: { 'name': 'Unassigned', roster: [{ name: 'Matt' }], isUnassigned: true },
      callsSort: 'time',
      callsSortDesc: true,
      rosterSort: 'timeOut',
      rosterSortDesc: true,
      events: eventsService.list,
      eventsSortPredicate: function (event) {
        return -event.opened.unix() + (event.closed ? 100000000 : 0);
      },
      calls: eventsService.calls,
      createEvent: function () { EditModalService.edit('Create New Event', new EventModel(), eventsService.save); }
    })

    eventsService.load();
  }]);

  window.hasHubs = true;
</script>
}